/*

 * Header css File
*/

.Header {
  /* propertys here */
  background-color: black;
  margin-top: 0;
  padding-bottom: 20px;
  padding-top: 10px;
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
}

img {
  max-width: 100%;
  height: 30px;
  display: block;
  margin: auto;
}
