/*
 * Body css File
*/

.Body {
  /* propertys here */
  display: block;
  background-color: pink;
  align-content: flex-end;
  height: 100%;
  overflow: hidden;
}

.modulo {
  background: red;
  display: flex;
  height: 100%;
}
