
body {
  background: black;
  color: white;
  padding: 0;
  margin: 0;
}



.wrapper {
  padding-top: 100px;
  display: block;
  margin-bottom: 70px;
}

.contenedor {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bot {
  text-decoration: none;
  max-width: 100%
}

/* GENERAL BUTTON STYLING */
button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

button {
  background: none;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 1.6em;
  font-weight: bold;
  margin: 1em auto;
  padding: 40px 40px;
  text-transform: uppercase;
}

button::before,
button::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color: #2ecc71;
}
